@{
    ViewBag.Title = "Home Page";
   
}
@model WeekendTaskMVC.Models.HomeViewModel



    <!-- #Content -->
    <!-- Slider -->
    <section>

        <div class="rev_slider_wrapper">
            <div class="rev_slider" id="slide-1" data-version="5.4.4">
                <ul>
                    @foreach (var slide in Model.Slider)
                    {
                        <li data-transition="fade">
                            <img src="~/Public/images/@slide.Link" alt="Work" class="rev-slidebg">
                            <div class="tp-caption slide-heading-2" data-x="center" data-y="center" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-voffset="-70" data-start="900" data-fontsize="['30','30','24', '24']">@slide.FirstTitle</div>
                            <div class="tp-caption slide-heading-1" data-x="center" data-y="center" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;" data-start="1300" data-fontsize="['72','72','52','50','46', '42']">@slide.SecondTitle</div>
                            <div class="tp-caption" data-x="center" data-y="center" data-transform_in="y:100px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:200px;opacity:0;s:300;" data-voffset="95" data-start="1600">
                                <a href="#" class="slide-button">Get Started</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </section>
    <!-- End Slider -->
    <!-- Hire us -->
    <section>
        <div class="section-wrapper bg-blue">
            <div class="hire-us">
                <div class="container">
                    <div class="hire-us-container">
                        <div class="hire-us-text m-b-2">
                            <p>
                                We’ve completed more than
                                <span>100+</span>project for our amazing clients, If you interested?
                            </p>
                        </div>
                        <div class="hire-us-button">
                            <a href="#">Hire Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hire Us -->
    <!-- Icon box -->
    <section>
        <div class="section-wrapper">
            <div class="container py-50">
                <div class="row justify-content-center">
                    @foreach (var adv in Model.Advisor.Take(3))
                    {
                        <div class="col-lg-4 col-md-8">
                            <div class="iconbox iconbox-style-1">
                                <div class="iconbox-container">
                                    <div class="iconbox-image">
                                        <img src="~/Public/images/@adv.Image" alt="@adv.Title">
                                    </div>
                                    <div class="iconbox-content">
                                        <h4 class="iconbox-content-heading">
                                            <i class="fa fa-@adv.Icon"></i>
                                           @adv.Title
                                        </h4>
                                        <div class="iconbox-content-body">
                                            <p>@adv.Text</p>
                                            <a href="#">
                                                <i class="fa fa-plus-square"></i>Read more
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Icon box -->
    <!-- Icon box -->
    <section>
        <div class="section-wrapper bg-gray p-t-62 p-b-45">
            <div class="container">
                <div class="section-title">
                    <h3>We are bemax</h3>
                    <div class="title-border m-b-67"></div>
                </div>
                <div class="row">
                    @foreach (var works in Model.OurWork.Take(6))
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="iconbox iconbox-style-2">
                                <div class="iconbox-container">
                                    <div class="iconbox-image">
                                        <a href="#">
                                            <i class="fa fa-@works.Icon"></i>
                                        </a>
                                    </div>
                                    <div class="iconbox-content">
                                        <a href="#" class="iconbox-content-heading">@works.Title</a>
                                        <div class="icon-content-body">
                                            <p>@works.Text</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
               
                </div>
            </div>
        </div>
    </section>
    <!-- End Iconbox -->
    <!-- Latest BLog-->
    <section>
        <div class="section-wrapper bg-black-1 p-t-70 p-b-80">
            <div class="container">
                <div class="section-title section-title-style-1">
                    <h3>Latest Projects</h3>
                    <div class="title-border m-b-67"></div>
                </div>
                <div class="owl-carousel js-owl-nav owl-nav-1" data-items="4" data-loop="true" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"}}'>
                    @foreach (var pro in Model.Project)
                    {
                        <div class="project">
                            <div class="project-container">
                                <div class="project-image">
                                    <img src="~/Public/images/@pro.Image" alt="@pro.Title">
                                </div>
                                <div class="project-content">
                                    <div class="project-content-body">
                                        <a href="#" class="project-title">@pro.Title</a>
                                        <div class="project-label">
                                            <a href="#">@pro.Text1</a>
                                            <a href="#">@pro.Text2</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Latest Blog -->
    <!-- Why Choose Us -->
    <section>
        <div class="section-wrapper p-t-62 p-b-95">
            <div class="container">
                <div class="section-title">
                    <h3>Why Choose Us</h3>
                    <div class="title-border m-b-46"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="video p-t-10">
                            <div class="video-image-thumbnail">
                                <img src="~/Public/images/video_01.jpg" alt="Video">
                            </div>
                            <div class="video-play">
                                <a href="https://www.youtube.com/embed/keDneypw3HY?autoplay=1">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="play-video">
                                <iframe name="showvideo" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-r-5">
                        @foreach (var choose in Model.Choose)
                        {
                            <div class="iconbox iconbox-style-3">
                                <div class="iconbox-container">
                                    <div class="iconbox-content">
                                        <a href="#" class="iconbox-content-heading">
                                            <i class="fa fa-@choose.Icon"></i>@choose.Title
                                        </a>
                                        <div class="iconbox-content-body">
                                            <p>@choose.Text</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Choose us -->
    <!-- Hire Us -->
    <section>
        <div class="section-wrapper bg-gray">
            <div class="hire-us hire-us-style-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center">
                            <div class="hire-us-container">
                                <div class="section-title">
                                    <h3>Working With us</h3>
                                    <div class="title-border m-b-30"></div>
                                </div>
                                <div class="hire-us-text">
                                    <p>We’ve completed more than 100+ project for our am azing clients, If you interested?</p>
                                </div>
                                <div class="hire-us-button">
                                    <a href="#">Hire Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="hire-us-image">
                                <img src="~/Public/images/hire_us.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hire Us -->
    <!-- Latest Blog + Testimonial -->
    <section>
        <div class="section-wrapper py-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title justify-content-start js-owl-nav-1">
                            <h3 class="text-left">
                                Latest blog Posts
                                <span class="au-owl-prev">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                                <span class="au-owl-next">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </h3>
                            <div class="title-border m-b-10"></div>
                            <div class="owl-carousel" data-items="1" data-loop="true">
                                @foreach (var post in Model.Post)
                                {
                                    <div class="blog">
                                        <div class="blog-container">
                                            <div class="blog-image">
                                                <div class="blog-image-container">
                                                    <img src="~/Public/images/@post.Image" alt="Blog">
                                                    <span class="blog-date">
                                                        @post.DateTime
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="blog-content">
                                                <a href="#" class="blog-content-title">@post.Title</a>
                                                <p class="blog-content-text">@post.Text</p>
                                                <div class="blog-button">
                                                    <div class="blog-tags">
                                                        <i class="fa fa-@post.Icon"></i>
                                                        <a href="#">@post.Link1</a>,
                                                        <a href="#">@post.Link2</a>
                                                    </div>
                                                    <div class="blog-readmore">
                                                        <a href="#">
                                                            <i class="fa fa-plus-square"></i>Read more
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-title justify-content-start js-owl-nav-1">
                            <h3 class="text-left">
                                Testimonials
                                <span class="au-owl-prev">
                                    <i class="fa fa-angle-left"></i>
                                </span>
                                <span class="au-owl-next">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </h3>
                            <div class="title-border m-b-27"></div>
                            <div class="owl-carousel" data-items="1" data-loop="true">
                                @foreach (var test in Model.Tester)
                                {
                                <div class="testimonial testi-style-1">
                                    <div class="testi-container">
                                        <div class="testi-content">
                                            <p>@test.Text</p>
                                        </div>
                                        <div class="testi-author">
                                            <div class="testi-author-image">
                                                <img src="~/Public/images/@test.Image" alt="Alex">
                                            </div>
                                            <div class="testi-author-content">
                                                <a href="#" class="testi-author-name">@test.Title1</a>
                                                <p class="testi-author-job">@test.Title2</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Latest Blog -->
    <!-- Partner -->
    <section>
        <div class="section-wrapper bg-gray-1 py-50">
            <div class="container">
                <div class="owl-carousel" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"},"1200":{"items":"6"}}'>
                    @foreach (var partner in Model.Partner)
                    {
                        <div class="partner">
                            <img src="~/Public/images/@partner.Image" alt="Partner 01">
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Partner -->
