@model WeekendTaskMVC.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
}
<!-- #Content -->
<!-- About -->
<section>
    <div class="section-wrapper bg-fixed" data-image="/Public/images/bg-image_07.jpg">
        <div class="overlay" data-color="rgba(255,255,255,0.9)"></div>
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-md-8">
                    <div class="about-us">
                        <div class="title">
                            <h2>about bemax</h2>
                            <p>We’re help your vulputate bibendum justo sed, tincidunt quisque dictum eget dolor vel maximus.</p>
                        </div>
                        <div class="video" id="video-about">
                            <div class="video-image-thumbnail">
                                <img src="~/Public/images/video_04.jpg" alt="video">

                            </div>
                            <div class="video-play">
                                <a href="https://www.youtube.com/embed/keDneypw3HY?autoplay=1">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="play-video">
                                <iframe name="showvideo" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About -->

<section>
    <div class="section-wrapper p-t-85 p-b-45">
        <div class="container">
            <div class="row">
                @foreach (var reason in Model.Reason)
                {
                    <div class="col-md-4">
                        <div class="choose-reason">
                            <h6>@reason.Title</h6>
                            <p>@reason.Text</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<!-- Great Team -->
<section>
    <div class="section-wrapper bg-black-3 p-t-60 p-b-57">
        <div class="container">
            <div class="section-title section-title-style-1">
                <h3>The Great Team</h3>
                <div class="title-border m-b-35"></div>
            </div>
            <div class="row">
                @foreach (var team in Model.Team)
                {
                    <div class="col-md-3">
                        <div class="great-team">
                            <div class="great-team-container">
                                <div class="team-image">
                                    <img src="~/Public/images/@team.Images" alt="User">
                                    <nav class="social-link">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-@team.Icon1"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-@team.Icon2"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-@team.Icon3"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="team-content">
                                    <a href="#" class="name">@team.Name</a>
                                    <p class="job">@team.Position</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Great Team -->
<!-- Testimonial-->
<section>
    <div class="section-wrapper p-t-60 p-b-100">
        <div class="container">
            <div class="section-title">
                <h3>testimonial</h3>
                <div class="title-border"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="owl-carousel owl-carousel-1" data-items="1" data-loop="true" data-dotsData="true">
                        @foreach (var testm in Model.Testimonial)
                        {
                            <div class="testimonial testi-style-3" data-dot='<img src="/Public/images/@testm.Images" alt="1">'>
                                <div class="testi-container">
                                    <div class="testi-content">
                                        <p class="text-black-1">
                                            <span></span>@testm.Text
                                        </p>
                                    </div>
                                    <div class="testi-author">
                                        <div class="testi-author-content">
                                            <a href="#" class="testi-author-name text-black-2">@testm.Name</a>
                                            <p class="testi-author-job text-black-2">@testm.Position</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonial -->
<!-- Partner -->
<section>
    <div class="section-wrapper bg-gray-1 py-50">
        <div class="container">
            <div class="owl-carousel" data-responsive='{"0":{"items":"1"},"576":{"items":"2"},"768":{"items":"3"},"992":{"items":"4"},"1200":{"items":"6"}}'>
                @foreach (var partner in Model.Partner)
                {
                    <div class="partner">
                        <img src="~/Public/images/@partner.Image" alt="Partner 01">
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- End Partner -->
<!-- Newsletter -->
<section>
    <div class="section-wrapper bg-fixed p-t-58 p-b-80" data-image="/Public/images/mac-book.jpg">
        <div class="overlay" data-color="rgba(41,182,246,.9)"></div>
        <div class="container">
            <div class="section-title section-title-style-1">
                <h3>Newsletters</h3>
                <div class="title-border m-b-22"></div>
            </div>
            <div class="newsletter newsletter-style-1">
                <div class="newsletter-container">
                    <div class="newsletter-content">
                        <p>And stay informed about our news and events</p>
                    </div>
                    <div class="newsletter-form py-30">
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Your Email Address">
                            </div>
                            <div class="form-group">
                                <button>
                                    <i class="fa fa-paper-plane"></i>Subcribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Newslleter -->
<!-- Footer -->
